<!doctype html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base.html}"
>
<body>
<div layout:fragment="content">

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Food update
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Food update
                    </h5>
                    <form id="f1" method="post" th:action="@{/food/update}">
                        <input type="hidden" name="keyword2" th:value="${pageRequestDTO.keyword}">
                        <input type="hidden" name="page2" th:value="${pageRequestDTO.page}">
                        <input type="hidden" name="type2" th:value="${pageRequestDTO.type}">
                        <div class="mb-3">
                            <label for="fno" class="form-control">fno</label>
                            <input type="text" class="form-control" id="fno" name="fno"
                                   th:value="${dto.fno}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="title" class="form-control">제목</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력해주세요"
                                   th:value="${dto.title}">
                        </div>
                        <div class="mb-3">
                            <label for="content" class="form-control">내용</label>
                            <textarea type="text" class="form-control col-sm-5" id="content"
                                      name="content" rows="5" placeholder="내용을 입력해주세요"
                            >[[${dto.content}]]</textarea>
                        </div>
                        <div class="mb-3">
                            <label for="writer" class="form-control">작성자</label>
                            <input type="text" class="form-control" id="writer" name="writer"
                                   placeholder="지금은 직접 작성자를 입력해주세요, 로그인 후 로그인 유저가 자동으로 탑재됨."
                                   th:value="${dto.writer}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="regDate" class="form-control">등록시간</label>
                            <input type="text" class="form-control" id="regDate" name="regDate"
                                   th:value="${#temporals.format(dto.regDate,'yyyy-MM-dd HH:mm:ss')}" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="modDate" class="form-control">수정시간</label>
                            <input type="text" class="form-control" id="modDate" name="modDate"
                                   th:value="${#temporals.format(dto.modDate,'yyyy-MM-dd HH:mm:ss')}" disabled>
                        </div>
                        <div class="mb-3" th:with="link = ${pageRequestDTO.link}">
                            <button type="submit" class="btn btn-primary modBtn">수정하기</button>
                            <button type="button" class="btn btn-danger deleteBtn">삭제하기</button>
                            <a th:href="|@{/food/list}?${link}|">
                                <button type="button" class="btn btn-secondary listBtn">목록가기</button>
                            </a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
<!--끝 나는 부분 layout:fragment="content"-->


<!--자바스크립트 추가하는 영역-->
<script layout:fragment="javascript" th:inline="javascript">

    // 유효성 체크 오류 발생시, alert 경고창 알려주기.
    // 서버에서 오류가 발생시, 전달한 키 : errors , 받아서, 처리하기.
    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''
    if (errors) {
        for (let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}는 ${errors[i].code} \n`
        }
        alert(errorMsg)
    }

    //삭제시, 폼안에 있는 내용 재사용하기.
    document.querySelector(".deleteBtn").addEventListener("click",
        function (e) {
            const formObj = document.querySelector("form")

            e.preventDefault()
            e.stopPropagation() // 상위 태그로 전파 방지


            formObj.action = "/food/delete"
            formObj.method = "post"

            formObj.submit()
        }, false)

</script>

</body>
</html>