<!DOCTYPE html>
<html lang="ko"
      xmlns:th="www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base.html}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>register 화면입니다.</h1>
<hr/>
<div>
  <h2>반복문</h2>
  <ul>
    <li th:each="str : ${register}" th:text="${str}"></li>
  </ul>
  <ul>
    <li th:each="str : ${register}">[[${str}]]</li>
  </ul>
  <ul>
    <th:block th:each="str : ${register}" >
      <li> [[${str}]] </li>
    </th:block>
  </ul>

  <h2>삼항연산자</h2>
  <ul>
    <li th:each="str , status: ${register}" >
      <span th:text="${status.odd} ? '홀수---'+${str} : '짝수---'+${str}"> </span>
    </li>
  </ul>

  <h2>조건문</h2>
  <ul>
    <li th:each="str , status: ${register}" >
      <th:block th:switch="${status.index % 3}">
        <span th:case="0"> index:0  [[${str}]]</span>
        <span th:case="1"> index:1  [[${str}]]</span>
        <span th:case="2"> index:2  [[${str}]]</span>
      </th:block>
    </li>
  </ul>

  <h2>변수</h2>
  <ul>
    <li th:each="str , status: ${register}" >
      <div th:with = "num1 = 200, num2 = 250">
        <h3 th:text="${num1 + num2}"> </h3>
      </div>
    </li>
  </ul>
</div>

<script>
  const register = `[[${register}]]`
  console.log(register)
</script>
</body>
</html>